.App {
  background-color: #605e5e;
  width: 250px;
  height: 140px;
  border: 3px solid #70E4FB;
  border-radius: 5px;
  padding: 8px;
  margin: 20px auto 5px auto;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  /*margin-bottom: 5px;*/
}

.monitor {
  /*background-color: #605e5e;*/
  /*background-color: #70E4FB;*/
  /*background-color: #70E4FB;*/
  color: #70E4FB;
  background-color: #605e5e;
  width: 230px;
  height: 50px;
  border: 3px solid #70E4FB;
  border-radius: 5px;
  padding: 3px;
  margin: 5px auto 5px auto;
  /*margin-top: 5px;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  /*margin-bottom: 5px;*/
  text-align: center;
  font-family: 'Montserrat', serif;
  font-style: normal;
  font-size: 40px;
}

.settingMonitor {
  /*background-color: #605e5e;*/
  background-color: #605e5e;
  color: #70E4FB;
  width: 230px;
  height: 50px;
  border: 3px solid #70E4FB;
  border-radius: 5px;
  padding: 3px;
  margin: 5px auto 5px auto;
  /*margin-top: 5px;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  /*margin-bottom: 5px;*/
  text-align: center;
  font-family: 'Montserrat', serif;
  font-style: normal;
  font-size: 10px;
}
.settings {
  /*border: 3px solid #b20322;*/
  /*border-radius: 5px;*/
  display: grid;
  grid-template-columns: 50% 50%;
  /*justify-items: start;*/
  align-items: center;
  margin-bottom: 20px;
  font-size: 15px;
}

.input {
  background-color: #9fe0ee;
  border-radius: 5px;
}

.errorInput {
  background-color: #f16262;
  /*border: 3px solid #b20322*/
}
.red {
  color: red;
  text-align: center;
  font-size: 45px;
  /*height: 100%;*/
}
.value {
  /*color: greenyellow;*/
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.settingsValue {
  display: grid;
  grid-template-rows: 30px 30px;
}

.buttons {
  background-color: #605e5e;
  width: 230px;
  height: 50px;
  border: 3px solid #70E4FB;
  border-radius: 5px;
  padding: 3px;
  /*display: inline-block;*/
  /*margin-top: 15px;*/
  margin-left: auto;
  margin-right: auto;
  /*align-items: center;*/
}
.buttonsMain{
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}

.buttonsSet {
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  /*align-items: center;*/
}

.set{
  /*width: 70px;*/
  /*height: 30px;*/
  margin-left: auto;
  margin-right: auto;
}
.button {
  font-family: 'Montserrat';
  width: 70px;
  height: 37px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  /*padding: 5px 24px 5px 24px;*/
  margin: 5px;
  background-color: #70E4FB;
  border-radius: 5px;
  border-color: #70E4FB;

}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
